/*------------------------------------*    $IMPORTS
\*------------------------------------*/
.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  height: auto;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6enbqg");
  src: url("../fonts/icomoon.eot?#iefix6enbqg") format('embedded-opentype'), url("../fonts/icomoon.ttf?6enbqg") format('truetype'), url("../fonts/icomoon.woff?6enbqg") format('woff'), url("../fonts/icomoon.svg?6enbqg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e600";
}
.icon-home5:before {
  content: "\e904";
}
.icon-envelop5:before {
  content: "\ea34";
}
.icon-arrow-right8:before {
  content: "\eddb";
}
.icon-arrow-left8:before {
  content: "\eddf";
}
/*------------------------------------*    $COLORES
\*------------------------------------*/
.primary-text {
  color: rgba(0,0,0,0.87);
}
.secundary-text {
  color: rgba(0,0,0,0.54);
}
.hint-text {
  color: rgba(0,0,0,0.26);
}
.divider {
  color: rgba(0,0,0,0.12);
}
/*------------------------------------*    $TIPOGRAFÍA
\*------------------------------------*/
.display4 {
  font-size: 112px;
  font-weight: 300;
  color: rgba(0,0,0,0.54);
}
.display3 {
  font-size: 56px;
  font-weight: 300;
  color: rgba(0,0,0,0.54);
}
.display2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0,0,0,0.54);
}
.display1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
  color: rgba(0,0,0,0.54);
}
.headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(0,0,0,0.87);
  margin-bottom: 24px;
}
.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 32px;
  color: rgba(0,0,0,0.87);
}
.title:last-child {
  margin-bottom: 0;
}
.subhead2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0,0,0,0.87);
}
.subhead1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0,0,0,0.87);
}
.body2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0,0,0,0.87);
}
.body1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0,0,0,0.87);
  margin-bottom: 1.2em;
}
.caption {
  font-size: 15px;
  font-weight: 400;
  color: rgba(0,0,0,0.54);
}
/**
 * La clase de estos dos tipos de fuente llevan
 * -font al final, mientras que todos los demás
 * no lo llevan
 */
.menu-font {
  font-size: 14rem;
  font-weight: medium;
  color: rgba(0,0,0,0.87);
}
.button-font {
  font-size: 14rem;
  font-weight: medium;
  color: rgba(0,0,0,0.87);
  text-transform: uppercase;
}
/*------------------------------------*    $GRID Y MÁRGENES
\*------------------------------------*/
.t10 {
  width: 10%;
}
.t20 {
  width: 20%;
}
.t25 {
  width: 25%;
}
/* 1/4 */
.t30 {
  width: 30%;
}
.t33 {
  width: 33.333%;
}
/* 1/3 */
.t40 {
  width: 40%;
}
.t50 {
  width: 50%;
}
/* 1/2 */
.t60 {
  width: 60%;
}
.t66 {
  width: 66.666%;
}
/* 2/3 */
.t70 {
  width: 70%;
}
.t75 {
  width: 75%;
}
/* 3/4*/
.t80 {
  width: 80%;
}
.t90 {
  width: 90%;
}
/*------------------------------------*    $ELEMENTOS
\*------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fafafa;
  margin: 0;
}
h1,
.h1 {
  margin: 0;
}
h2,
.h2 {
  margin: 0;
}
h3,
.h3 {
  margin: 0;
}
p {
  margin: 0;
}
/*------------------------------------*    $UTILIDADES
\*------------------------------------*/
/*------------------------------------*    $LAYOUT 
\*------------------------------------*/
/* movilxs */
.color-home {
  color: #808080;
}
.color-subject1 {
  color: #009688;
}
.color-subject2 {
  color: #03a9f4;
}
.color-subject3 {
  color: #c2185b;
}
.bg-subject0 {
  background-color: subject0;
}
.bg-subject1 {
  background-color: #009688;
}
.bg-subject2 {
  background-color: #03a9f4;
}
.bg-subject3 {
  background-color: #c2185b;
}
.display3 {
  color: #fff;
  font-size: 24px;
}
.display1 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
}
.displaySubtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
  font-weight: 400;
}
.headline {
  font-size: 20px;
  line-height: 28px;
}
.body1 {
  letter-spacing: 0.1px;
}
.grid-outer {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-right: 16px;
  margin-left: 16px;
}
.grid-inner {
  display: inline-block;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 40px;
  max-width: 360px;
}
.grid-outer--header {
  padding-left: 16px;
}
.grid-inner--header {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 0;
}
.main-module {
  margin-bottom: 32px;
}
.main-intro {
  max-width: 633px;
}
.header-home {
  background: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

		background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 51%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(51%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 51%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 51%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 51%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 51%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=0 );
}

		background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 51%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(51%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 51%,rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 51%,rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 51%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 51%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=0 );
.header-caption {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-caption__img {
  display: table-cell;
  width: 80px;
}
.header-caption__text {
  display: table-cell;
  vertical-align: top;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  z-index: 3;
}
.header-title {
  color: rgba(0,0,0,0.87);
  margin-bottom: 0.8rem;
}
.header-title span {
  color: #455985;
}
.header-subtitle {
  color: rgba(0,0,0,0.57);
}
.header-subtitle span {
  color: rgba(0,0,0,0.57);
  margin-left: 16px;
}
.footer-outer {
  background-color: #eff2e7;
  padding-right: 16px;
  padding-left: 16px;
}
.footer-inner {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}
.footer__cta {
  margin-bottom: 0.2em;
}
.footer__button a {
  color: rgba(0,0,0,0.57);
  text-decoration: none;
  font-size: 16px;
}
.footer__button a:before {
  content: '\ea34';
  font-family: icomoon;
  color: #03a9f4;
  margin-right: 0.5em;
  vertical-align: middle;
  font-size: 1em;
}
.footer__button a:hover {
  color: #f50057;
}
.footer-nav--inner a {
  text-decoration: none;
}
.footer-nav__begin .footer-nav__btn--right {
  padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
}
.footer-nav__begin .next {
  text-align: right;
}
.footer-nav__begin .next span {
  color: rgba(0,0,0,0.87);
  margin-right: 28.8px;
}
.footer-nav__begin .next p {
  color: #fff;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 500;
}
.footer-nav__begin .next p:after {
  content: '\eddb';
  font-family: icomoon;
  margin-left: 10px;
}
.footer-nav__middle {
  position: relative;
}
.footer-nav__middle .footer-nav__middle--next {
  box-sizing: border-box;
  padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  width: 100%;
}
.footer-nav__middle .footer-nav__middle--next .next {
  text-align: right;
}
.footer-nav__middle .footer-nav__middle--next .next span {
  color: rgba(0,0,0,0.87);
  margin-right: 28.8px;
}
.footer-nav__middle .footer-nav__middle--next .next p {
  color: #fff;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 500;
}
.footer-nav__middle .footer-nav__middle--next .next p:after {
  content: '\eddb';
  font-family: icomoon;
  margin-left: 10px;
}
.footer-nav__middle .footer-nav__middle--previous {
  width: 40px;
  padding-top: 42.4px;
  padding-left: 24px;
  padding-bottom: 24px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
}
.footer-nav__middle .footer-nav__middle--previous .previous {
  text-align: left;
}
.footer-nav__middle .footer-nav__middle--previous .previous span {
  display: none;
}
.footer-nav__middle .footer-nav__middle--previous .previous p.big {
  display: none;
}
.footer-nav__middle .footer-nav__middle--previous .previous p.small {
  color: #fff;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 500;
}
.footer-nav__middle .footer-nav__middle--previous .previous p.small:before {
  content: '\eddf';
  font-family: icomoon;
  margin-right: 10px;
}
.footer-nav__end .footer-nav__btn--left {
  padding-top: 24px;
  padding-left: 48px;
  padding-bottom: 24px;
}
.footer-nav__end .previous {
  text-align: left;
}
.footer-nav__end .previous span {
  color: rgba(0,0,0,0.87);
  margin-left: 28.8px;
}
.footer-nav__end .previous p {
  color: #fff;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 500;
}
.footer-nav__end .previous p:before {
  content: '\eddf';
  font-family: icomoon;
  margin-right: 10px;
}
.contact {
  background-color: #212121;
  display: block;
  padding: 16px;
  text-align: right;
}
.contact a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
.contact a .phone:before {
  content: '\e600';
  font-family: icomoon;
  color: #4caf50;
  margin-right: 16px;
  margin-left: 16px;
}
.contact a:hover {
  color: #f50057;
}
.module-subject__header {
  padding: 16px;
  border-radius: 10px 10px 0 0;
}
.module-subject__header .module-subject__title {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  font-size: 20px;
}
.subject1 {
  background-color: #009688;
}
.subject2 {
  background-color: #03a9f4;
}
.subject3 {
  background-color: #c2185b;
}
.subject-list {
  border-right: 1px solid rgba(0,0,0,0.12);
  border-left: 1px solid rgba(0,0,0,0.12);
  border-bottom: 1px solid rgba(0,0,0,0.12);
  list-style: none;
  border-radius: 0 0 10px 10px;
}
.subject-list a {
  text-decoration: none;
  color: rgba(0,0,0,0.74);
}
.subject-list .subject-item {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-top: 1px solid rgba(0,0,0,0.12);
}
.subject-list .subject-item:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0,150,136,0.8);
  display: inline-block;
  margin-right: 16px;
}
.subject-list .subject-item:hover {
  background-color: rgba(0,0,0,0.03);
}
.subject-list .subject-item2:before {
  background-color: rgba(3,169,244,0.8);
}
.subject-list .subject-item3:before {
  background-color: rgba(194,24,91,0.8);
}
.nav-home {
  margin-bottom: 16px;
  position: absolute;
  top: 16px;
}
.nav-home a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.nav-home a:before {
  content: '\e904';
  font-family: icomoon;
  margin-right: 8px;
}
.nav-home a:hover {
  color: #f50057;
}
.nav-home .home {
  font-size: 0.8em;
}
.main-header {
  background-color: #009688;
  position: relative;
}
.main-header .display-outer {
  padding: 73px 0 24px 0;
}
.main-header__subject1 {
  background-color: #009688;
}
.main-header__subject2 {
  background-color: #03a9f4;
}
.main-header__subject3 {
  background-color: #c2185b;
}
.chapter-intro {
  padding-bottom: 50px;
}
.chapter-nav {
  display: none;
}
.article-title {
  padding-top: 15px;
  padding-bottom: 12px;
}
.moduleA1 {
  padding-bottom: 40px;
}
.module-body {
  margin-bottom: 40px;
}
.module-body p {
  margin-bottom: 20px;
}
.module-body p:last-child {
  margin-bottom: 0;
}
.module-body--title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}
.media {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.done {
  border-bottom: 15px solid #4caf50;
}
.notDone {
  border-bottom: 15px solid #f44336;
}
.figure-row figure {
  width: 360px;
  margin: 0;
}
.figure-row figure:first-child {
  margin-bottom: 40px;
  margin-right: 40px;
}
.media-caption {
  margin-bottom: 10px;
}
.media-caption p {
  font-size: 14px;
  line-height: 24px;
}
.caption-title {
  color: #4caf50;
  font-size: 14px;
  font-weight: 500;
}
.caption-title--pendiente {
  color: #f44336;
}
@media only screen and (min-width: 760px) {
  .display3 {
    color: #fff;
    font-size: 56px;
  }
  .display1 {
    font-size: 34px;
    line-height: 40px;
  }
  .grid-inner {
    margin-top: 80px;
    max-width: 100%;
  }
  .grid-inner--middle {
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;
  }
  .grid-inner--header {
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-header .display-outer {
    padding: 115px 0 64px 24px;
  }
  .header-home {
    background: url("../img/hero@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .header-caption {
    padding-top: 72px;
    padding-bottom: 48px;
  }
  .chapter-intro {
    padding-right: 38px;
    padding-bottom: 40px;
  }
  .chapter-nav {
    display: block;
    border-left: 5px solid;
    border-left-color: light-color;
    padding-left: 20px;
    margin-bottom: 48px;
  }
  .chapter-nav .chapter-nav--headline {
    line-height: 16px;
    padding-bottom: 12px;
  }
  .chapter-nav .chapter-nav--list {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
  }
  .chapter-nav .chapter-nav--list a {
    text-decoration: none;
    line-height: 40px;
  }
  .module-body {
    width: 560px;
  }
  .figure-row {
    display: -webkit-box;
  }
  display -webkit-flex,
  display -moz-flex,
  display -ms-flexbox,
  display flex {
    justify-content: center;
  }
  .footer-inner {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .footer__cta {
    font-weight: 400;
    margin-bottom: 0.4em;
    font-size: 24px;
  }
  .footer__button a {
    font-size: 20px;
  }
  .footer-nav__middle {
    position: relative;
    display: table;
    width: 100%;
  }
  .footer-nav__middle .footer-nav__middle--next {
    box-sizing: border-box;
    width: 48.7%;
    display: table-cell;
  }
  .footer-nav__middle .footer-nav__middle--next .next {
    text-align: right;
  }
  .footer-nav__middle .footer-nav__middle--next .next span {
    color: rgba(0,0,0,0.87);
    margin-right: 31.200000000000003px;
  }
  .footer-nav__middle .footer-nav__middle--next .next p {
    color: #fff;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 500;
  }
  .footer-nav__middle .footer-nav__middle--next .next p:after {
    content: '\eddb';
    font-family: icomoon;
    margin-left: 10px;
  }
  .footer-nav__middle .footer-nav__middle--previous {
    width: 48.7%;
    display: table-cell;
    position: relative;
    bottom: 0px;
    padding-top: 24px;
  }
  .footer-nav__middle .footer-nav__middle--previous .previous {
    text-align: left;
  }
  .footer-nav__middle .footer-nav__middle--previous .previous span {
    display: block;
    color: rgba(0,0,0,0.87);
    margin-left: 28.799999999999997px;
  }
  .footer-nav__middle .footer-nav__middle--previous .previous p.big {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 500;
  }
  .footer-nav__middle .footer-nav__middle--previous .previous p.big:before {
    content: '\eddf';
    font-family: icomoon;
    margin-right: 10px;
  }
  .footer-nav__middle .footer-nav__middle--previous .previous p.small {
    display: none;
  }
  .footer-nav__middle .footer-nav__middle--previous .previous,
  .footer-nav__middle .footer-nav__middle--previous text-align left,
  .footer-nav__middle .footer-nav__middle--previous span {
    color: rgba(0,0,0,0.87);
    margin-left: 36px;
  }
  .footer-nav__middle .footer-nav__middle--previous p {
    color: #fff;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 500;
  }
  .footer-nav__middle .footer-nav__middle--previous p:before {
    content: '\eddf';
    font-family: icomoon;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1240px) {
  .grid-inner {
    width: 1160px;
  }
  .grid-inner--middle {
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;
  }
  .display1 {
    font-size: 34px;
    line-height: 40px;
  }
  .chapter-intro {
    width: 960px;
  }
  .article-title {
    padding-top: 48px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  .moduleA1 {
    display: flex;
  }
  .module-body {
    width: 360px;
  }
  .figure-group {
    width: 760px;
    margin-left: 40px;
  }
}
