/*------------------------------------*    $IMPORTS
\*------------------------------------*/
/**
 * Esto es un ejemplo de archivo externo importado
 	@import "buttons.styl"
 */
/*------------------------------------*    $UTILIDADES
\*------------------------------------*/
.u-wrapper {
  margin: 0 auto;
  padding-right: gutter;
  padding-left: gutter;
  max-width: 960px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
/*------------------------------------*    $ELEMENTOS
\*------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}
/*------------------------------------*    $TIPOGRAFÍA
\*------------------------------------*/
.display4 {
  font-size: 112px;
  font-weight: 300;
  color: rgba(0,0,0,0.54);
}
.display3 {
  font-size: 56px;
  font-weight: 400;
  color: rgba(0,0,0,0.54);
}
.display2 {
  font-size: 45px;
  font-weight: 400;
  color: rgba(0,0,0,0.54);
}
.display1 {
  font-size: 34px;
  font-weight: 400;
  color: rgba(0,0,0,0.54);
}
.headline {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
}
.title {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0,0,0,0.87);
}
.subhead {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  line-height: 24px;
}
.body2 {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,0.87);
}
.body1 {
  font-size: 14px;
  font-weight: 400;
}
.caption {
  font-size: 15px;
  font-weight: 400;
  color: rgba(0,0,0,0.54);
}
/**
 * La clase de estos dos tipos de fuente llevan
 * -font al final, mientras que todos los demás
 * no lo llevan
 */
.menu-font {
  font-size: 14rem;
  font-weight: medium;
  color: rgba(0,0,0,0.87);
  font-weight: medium;
  color: rgba(0,0,0,0.87);
  text-transform: uppercase;
}
.menu-font .button-font {
  font-size: 14rem;
}
/*------------------------------------*    $COLORES
\*------------------------------------*/
.primary-text {
  color: rgba(0,0,0,0.87);
}
.secundary-text {
  color: rgba(0,0,0,0.54);
}
.hint-text {
  color: rgba(0,0,0,0.26);
}
.divider {
  color: rgba(0,0,0,0.12);
}
/*------------------------------------*    $GRID Y MÁRGENES
\*------------------------------------*/
.t10 {
  width: 10%;
}
.t20 {
  width: 20%;
}
.t25 {
  width: 25%;
}
/* 1/4 */
.t30 {
  width: 30%;
}
.t33 {
  width: 33.333%;
}
/* 1/3 */
.t40 {
  width: 40%;
}
.t50 {
  width: 50%;
}
/* 1/2 */
.t60 {
  width: 60%;
}
.t66 {
  width: 66.666%;
}
/* 2/3 */
.t70 {
  width: 70%;
}
.t75 {
  width: 75%;
}
/* 3/4*/
.t80 {
  width: 80%;
}
.t90 {
  width: 90%;
}
/*------------------------------------*    $BREAK POINTS 
\*------------------------------------*/
/* movilxs */
.color-deep-orange {
  color: #ff5722;
}
.chapter-intro {
  line-height: 32px;
  margin-bottom: 32px;
}
.chapter-intro:last-child {
  margin-bottom: 0;
}
.chapter-nav {
  border-left: 5px solid;
  border-left-color: #ff5722;
  padding-left: 20px;
}
.chapter-nav .chapter-nav--headline {
  line-height: 16px;
  padding-bottom: 12px;
}
