
/*------------------------------------*\
    $COLORES
\*------------------------------------*/
.color-deep-orange 
	color primary-color




/*------------------------------------*\
    $ELEMENTOS
\*------------------------------------*/
/**
 * ^introduccion 
 */
.chapter-intro
	line-height 32px
	margin-bottom 32px
	&:last-child
		margin-bottom 0
		


/**
 * ^navegacion ^lista
 */
.chapter-nav
	border-left 5px solid
	border-left-color primary-color
	padding-left 20px
	
	.chapter-nav--headline
		line-height 16px
		padding-bottom 12px
		
	

		
