
/*------------------------------------*\
    $COLORES
\*------------------------------------*/
.color-home
	color gray
.color-subject1
	color subject1
.color-subject2
	color subject2
.color-subject3
	color subject3

.bg-subject0
	background-color subject0
.bg-subject1
	background-color subject1
.bg-subject2
	background-color subject2
.bg-subject3
	background-color subject3




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display3
	color rgba(#fff,1)
	font-size 24px
.display1
	font-size 24px
	line-height 32px
	margin-bottom 0
.displaySubtitle
	font-size 24px
	line-height 32px
	margin-bottom 0
	font-weight 400
.headline
	font-size 20px
	line-height 28px
.body1
	letter-spacing .1px
	




/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
gutter = 16px

.grid-outer
	display block
	margin 0 auto
	text-align center
	margin-right (gutter)
	margin-left (gutter)
.grid-inner
	display inline-block
	text-align left
	margin-top 60px
	margin-bottom 40px
	max-width 360px

.grid-outer--header
	padding-left gutter
.grid-inner--header
	max-width 360px
	margin-top 0
	margin-bottom 0
	
.main-module
	margin-bottom (gutter*2)


/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * ^home ^header-home ^nav-home
 */
 .header-home
	background: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
		

/**
 * ^home ^header-home ^header-caption
 */
.header-caption
	padding-top (gutter*2)
	padding-bottom (gutter*4)
.header-caption__img
	display table-cell
	width 80px
.header-caption__text
	display table-cell
	vertical-align top
	padding-left (gutter/2)
	padding-right (gutter/2)
.header-title
	color white
.header-subtitle
	color white
	span
		color white
		margin-left gutter
				

/**
 * ^home ^footer
 */
.footer-outer
	background-color #eff2e7
	padding-right gutter
	padding-left gutter
.footer-inner
	padding-top (gutter*3)
	padding-bottom (gutter*3)
	text-align center
.footer__cta
	font-weight 500
	color rgba(#000000,.87)
	margin-bottom gutter
.footer__button
	a
		color rgba(#000000,.87)
		text-decoration none
		font-size 20px
		&:before
			content '\ea34'
			font-family icomoon
			color subject2
			margin-right gutter
			vertical-align middle
	

/**
 * ^home ^footer-nav
 */
.footer-nav--inner
	a
		text-decoration none

.footer-nav__begin
	.footer-nav__btn--right
		padding-top (gutter*1.5)
		padding-right (gutter*3)
		padding-bottom (gutter*1.5)
	.next
		// background-color subject2
		text-align right
		span
			color rgba(#000000,.87)
			margin-right (gutter*1.5)
		p
			color white
			font-size 18px
			line-height 1.4em
			font-weight 500
			&:after
				content '\eddb'
				font-family icomoon
				margin-left 10px
.footer-nav__middle
	position relative
	.footer-nav__middle--next
		box-sizing border-box
		padding-top (gutter*1.5)
		padding-right (gutter*3)
		padding-bottom (gutter*1.5)
		// background-color subject3
		width 100%
		.next
			text-align right
			span
				color rgba(#000000,.87)
				margin-right (gutter*1.5)
			p
				color white
				font-size 18px
				line-height 1.4em
				font-weight 500
				&:after
					content '\eddb'
					font-family icomoon
					margin-left 10px
	.footer-nav__middle--previous
		width 40px
		// background-color subject1
		padding-top (gutter*2.65)
		padding-left (gutter*1.5)
		padding-bottom (gutter*1.5)
		position absolute
		z-index 5
		bottom 0 
		left 0
		.previous
			text-align left
			span
				display none
			p.big
				display none	
			p.small
				color white
				font-size 18px
				line-height 1.4em
				font-weight 500
				&:before
					content '\eddf'
					font-family icomoon
					margin-right 10px
	
.footer-nav__end
	.footer-nav__btn--left
		padding-top (gutter*1.5)
		padding-left (gutter*3)
		padding-bottom (gutter*1.5)
	.previous
		// background-color subject2
		text-align left
		span
			color rgba(#000000,.87)
			margin-left (gutter*1.5)
		p
			color white
			font-size 18px
			line-height 1.4em
			font-weight 500
			&:before
				content '\eddf'
				font-family icomoon
				margin-right 10px


/**
 * ^home ^main ^article
 */
.contact
	background-color home-color
	display block
	padding gutter
	text-align right
	a
		color white
		font-weight 300
		text-decoration none
		.phone
			&:before
				content '\e600'
				font-family icomoon
				color subject3
				margin-right (gutter/2)
				margin-left gutter
		&:hover
			color link-color
.module-subject__header
	padding gutter
	border-radius 10px 10px 0 0
	.module-subject__title
		color white
		text-shadow 0 1px 3px rgba(black,.3)
		font-size 20px
.subject1
	background-color subject1
.subject2
	background-color subject2
.subject3
	background-color subject3
.subject-list
	border-right 1px solid divider
	border-left 1px solid divider
	border-bottom 1px solid divider
	list-style none
	border-radius 0 0 10px 10px
	a
		text-decoration none
		color rgba(#000000,.74) 
	.subject-item
		padding-top (gutter)
		padding-bottom (gutter)
		padding-left gutter
		border-top 1px solid divider
		&:before
			content ''
			width 10px
			height 10px
			border-radius 50%
			background-color rgba(subject1,.8)
			display inline-block
			margin-right gutter
		&:hover
			background-color rgba(black,.03)
	.subject-item2
		&:before
			background-color rgba(subject2,.8)
	.subject-item3
		&:before
			background-color rgba(subject3,.8)
.nav-home
	margin-bottom gutter
	a
		text-decoration none
		color white
		font-size 20px
		&:before
			content '\e908'
			font-family icomoon
			margin-right gutter
		&:hover
			color link-color
	


/**
 * ^header
 */
.main-header
	background-color subject1
	.display-outer
		padding 73px 0 24px 0 
.main-header__subject1
	background-color subject1
.main-header__subject2
	background-color subject2
.main-header__subject3
	background-color subject3
	
/**
 * ^intro ^text
 */
.chapter-intro
	padding-bottom 50px

/**
 * ^intro ^nav
 */
.chapter-nav
	display none
		
/**
 * ^article
 */
.article-title
	padding-top 15px
	padding-bottom 12px

/**
 * ^article ^module
 */
.moduleA1
	padding-bottom 40px

/**
 * ^article ^module ^body
 */
.module-body
	margin-bottom 40px
	p
		margin-bottom 20px
		&:last-child
			margin-bottom 0

.module-body--title
	font-size 16px
	line-height 24px
	margin-bottom 30px
	
/**
 * ^article ^module ^figure-group ^media 
 */
 
.media
	margin-bottom 10px	
	padding-bottom 10px
	
.done
	border-bottom 15px solid green
.notDone
	border-bottom 15px solid rojo

.figure-row
	figure
		width 360px
		margin 0
		&:first-child
			margin-bottom 40px
			margin-right 40px
			

/**
 * ^article ^module ^figure-group ^figcaption 
 */
.media-caption
	margin-bottom 10px
	p
		font-size 14px
		line-height 24px

.caption-title
	color green
	font-size 14px
	font-weight 500
.caption-title--pendiente
	color rojo
