
/*------------------------------------*\
    $COLORES
\*------------------------------------*/
.color-theme 
	color primary-color




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display3
	color rgba(#fff,1)
	font-size 24px
.display1
	font-size 34px
	line-height 40px
	margin-bottom 42px
.body1
	letter-spacing .1px




/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
gutter = 16px

.grid-outer
	display flex
	justify-content center
.grid-inner
	margin-top 60px
	margin-bottom 40px
	max-width 360px
	margin-right gutter
	margin-left gutter

.grid-outer--header
	display flex
	justify-content flex-start
.grid-inner--header
	max-width 360px
	margin-top 0
	margin-bottom 0
	




/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * ^header
 */
.main-header
	background-color primary-color
	.display-outer
		padding 73px 0 24px 0 
	
/**
 * ^intro ^text ^nav
 */
.intro
	.intro-text
		padding-bottom 50px
	.intro-nav
		display none
	
/**
 * ^body ^module
 */
.module
	border-top 1px solid divider
	.headline
		padding-top 15px	
		padding-bottom 12px	
	.module-text
		max-width 560px
		margin-bottom 40px
		p
			margin-bottom 20px
			&:last-child
				margin-bottom 0
	.module-media
		margin-bottom 40px
		.media
			margin-bottom 10px
			.img-container
				img
					width 384px
					height 480px
					transform scale(0.4,0.4)
		.madia-bg
			background-color media
			width 360px
			height 360px
			display flex
			justify-content center
			align-items center
	.module-media--img
		display inline-block
		&:nth-child(even)
			margin-right 35px
		
	

		
