
/*------------------------------------*\
    $COLORES
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display3
	color rgba(#fff,1)
	font-size 56px
.display1
	font-size 34px
	line-height 40px
.headline
	font-size 24px
	line-height 32px


/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
gutter = 24px

.grid-outer
	text-align center
.grid-inner
	display inline-block
	text-align left
	margin-top 80px
	margin-right 0
	margin-left 0
	width 760px
	max-width 100%

.grid-outer--header
	display flex
	justify-content center
.grid-inner--header
	margin-top 0
	margin-bottom 0




/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * ^header
 */
.main-header
	.display-outer
		padding 115px 0 64px gutter 

/**
 * ^intro ^text ^nav
 */
.intro
	.intro-text
		padding-bottom 50px
		padding-right 50px
		max-width 760px
	.intro-nav
		display block
		border-left 5px solid
		border-left-color light-color
		padding-left 20px
		margin-bottom 48px
		.chapter-nav--headline
			line-height 16px
			padding-bottom 12px
		.chapter-nav--list
			padding-left 0
			margin-top 0
			list-style none
			a
				text-decoration none
				line-height 40px

/**
 * ^body ^module
 */
 .module
	.headline
		padding-top 96px	
		padding-bottom 0px	
		margin-bottom 30px
		

	

		
