
/*------------------------------------*\
    $COLORES
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display3
	color rgba(#fff,1)
	font-size 56px
.display1
	font-size 34px
	line-height 40px
// .headline
// 	font-size 24px
// 	line-height 32px


/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
gutter = 24px

.grid-inner
	margin-top 80px
	max-width 100%
.grid-inner--middle
	max-width 760px
	margin-right auto
	margin-left auto
.grid-inner--header
	margin-top 0
	margin-bottom 0




/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * ^header
 */
.main-header
	.display-outer
		padding 115px 0 64px gutter 
/**
 * ^home ^header-home ^header-caption
 */
.header-caption
	padding-top (gutter*3)
	padding-bottom (gutter*5)

/**
 * ^intro ^text
 */
.chapter-intro
	padding-right 38px
	padding-bottom 40px

/**
 * ^intro ^nav
 */
.chapter-nav
	display block
	border-left 5px solid
	border-left-color light-color
	padding-left 20px
	margin-bottom 48px
	.chapter-nav--headline
		line-height 16px
		padding-bottom 12px
	.chapter-nav--list
		padding-left 0
		margin-top 0
		list-style none
		a
			text-decoration none
			line-height 40px

/**
 * ^article ^module ^body
 */
.module-body
	width 560px

/**
 * ^article ^module ^figure-group ^media 
 */
.figure-row
	display -webkit-box
  	display -webkit-flex
 	display -moz-flex
  	display -ms-flexbox
  	display flex
	justify-content center
	

/**
 * ^home ^footer
 */
.footer-inner
	padding-top (gutter*3)
	padding-bottom (gutter*3)
	
.footer__cta
	font-weight 500
	color rgba(#000000,.87)
	margin-bottom 1em
	font-size 24px
.footer__button
	a
		font-size 20px
		
