
/*------------------------------------*\
    $COLORES
\*------------------------------------*/
.color-theme 
	color primary-color




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display3
	color rgba(#fff,1)
	font-size 24px
	font-weight 300
.body1
	letter-spacing .1px




/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
.grid-outer
	display flex
	justify-content center
	
.grid-inner
	margin-top 80px
	width 66.666%




/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * ^header
 */
.main-header
	background-color primary-color
	.display-outer
		width 100%
		margin 0 auto
		padding 73px gutter 24px gutter 
	
/**
 * ^introduccion ^text
 */
.chapter-intro
	padding-bottom 40px
			
/**
 * ^navegacion ^lista
 */
.chapter-nav
	border-left 5px solid
	border-left-color primary-color
	padding-left 20px
	.chapter-nav--headline
		line-height 16px
		padding-bottom 12px
	.chapter-nav--list
		padding-left 0
		margin-top 0
		list-style none
		a
			text-decoration none
			line-height 40px
		
/**
 * ^body ^text
 */
.body-text
	width 560px
		
	

		
