/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
.grid-inner
	width 1160px
.grid-inner--middle
	max-width 760px
	margin-right auto
	margin-left auto


/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display1
	font-size 34px
	line-height 40px




/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * ^intro ^text
 */
.chapter-intro
	width 960px
	
/**
 * ^article
 */
.article-title
	padding-top 48px
	padding-bottom 0
	margin-bottom 30px
	
/**
 * ^article ^module 
 *
 * Esto permite que el media quede a la derecha 
 * y el texto a la izq y que todo el módulo quede
 * dentro de un blocke.
 */
 .moduleA1
	display flex

/**
 * ^article ^module ^body
 */
.module-body
	width 360px
	// float left
.figure-group
	width 760px
	// float right
	margin-left 40px
	


















