/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
.grid-inner
	width 1160px



/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.module
	.module-text
		width 360px
		float left
	.module-media
		width 760px
		float right
		margin-left 40px