/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import "video-responsive"
@import "reset"
 



/*------------------------------------*\
    $COLORES
\*------------------------------------*/
body-color = #FAFAFA
primary-color = #00BCD4
secundary-color = #009688
light-color = #B2EBF2
media = #d0d0d0
green = #4CAF50
rojo = #F44336
.primary-text 
	color rgba(#000000,.87)
.secundary-text 
	color rgba(#000000,.54)
.hint-text 
	color rgba(#000000,.26)
.divider 
	color rgba(#000000,.12)
divider = rgba(#000000,.12)




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display4
	font-size 112px
	font-weight 300
	color rgba(#000000,.54) 
.display3
	font-size 56px
	font-weight 300
	color rgba(#000000,.54)
.display2
	font-size 45px
	font-weight 400
	line-height 48px
	color rgba(#000000,.54)
.display1
	font-size 34px
	font-weight 400
	line-height 40px
	margin-bottom 30px
	color rgba(#000000,.54)
.headline
	font-size 24px
	font-weight 400
	line-height 32px
	color rgba(#000000,.87)
.title
	font-size 20px
	font-weight 400
	line-height 32px
	margin-top 0
	margin-bottom 32px
	color rgba(#000000,.87)
	&:last-child
		margin-bottom 0
.subhead2
	font-size 16px
	font-weight 400
	line-height 28px
	color rgba(#000000,.87)
.subhead1
	font-size 16px
	font-weight 400
	line-height 24px
	color rgba(#000000,.87)
.body2
	font-size 14px
	font-weight 400
	line-height 24px
	color rgba(#000000,.87)
.body1
	font-size 14px
	font-weight 400
	line-height 20px
	color rgba(#000000,.87)
.caption
	font-size 15px
	font-weight 400
	color rgba(#000000,.54)
/**
 * La clase de estos dos tipos de fuente llevan
 * -font al final, mientras que todos los demás
 * no lo llevan
 */
.menu-font
	font-size 14rem
	font-weight medium
	color rgba(#000000,.87)
.button-font
	font-size 14rem
	font-weight medium
	color rgba(#000000,.87)
	text-transform uppercase




/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/
.t10    { width:10% } 
.t20    { width:20% }
.t25    { width:25% }       /* 1/4 */
.t30    { width:30% }
.t33    { width:33.333% }   /* 1/3 */
.t40    { width:40% }
.t50    { width:50% }       /* 1/2 */
.t60    { width:60% }
.t66    { width:66.666% }   /* 2/3 */
.t70    { width:70% }
.t75    { width:75% }       /* 3/4*/
.t80    { width:80% }
.t90    { width:90% }




/*------------------------------------*\
    $ELEMENTOS
\*------------------------------------*/
body
	font-family 'Roboto', sans-serif
	font-size 16px
	background-color body-color
	margin 0
h1, .h1
	margin 0 
h2, .h2
	margin 0 
h3, .h3
	margin 0 
p
	margin 0




/*------------------------------------*\
    $UTILIDADES
\*------------------------------------*/
// .u-wrapper 
// 	margin 0 auto
// 	padding-right gutter
// 	padding-left gutter
// 	max-width 960px
// 	box-sizing border-box
// 	-webkit-box-sizing border-box
// 	-moz-box-sizing border-box
// 	position relative	



	
/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/* movilxs */
@import "bp1.styl"
@media only screen and (min-width: 760px)
	@import "bp2.styl"
@media only screen and (min-width: 1240px)
	@import "bp3.styl"

