/*------------------------------------*\
    bp1__home
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display
	font-size 24px
	line-hight 1.5em
	font-weight 400
.headline
	font-size 32px
	line-hight 40px
	font-weight 400
	margin-bottom 30px
.subhead
	font-size 20px
	line-hight 32px
	font-weight 400
.title
	font-size 20px
	line-hight 28px
	font-weight 400
	margin-bottom 12px
.body
	font-size 14px
	line-hight 24px
	font-weight 400
	margin-bottom 20px
.caption
	font-size 15px
	line-hight 24px
	font-weight 400
