/*------------------------------------*\
    bp1__chapter
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display1
	font-size 34px
	line-height 1.5em
	font-weight 300
.headline
	font-size 24px
	line-height 32px
	font-weight 400
.subhead
	font-size 20px
	line-height 32px
	font-weight 400
	




/*------------------------------------*\
    $GRID 
\*------------------------------------*/
.article__moduleB1
	margin-top 30px
	



/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
// .chapter-main
	// background-color white
.caption__module
	margin-top (gutter*1.5)
	margin-bottom (gutter*1.5)


/**
 * ^header
 */
.header-chapter__background
	padding-top (gutter*3)
	padding-bottom (gutter*1)
.header-chapter__background--chapter1
	background-color primaryA
.header-chapter__background--chapter2
	background-color primaryB
.header-chapter__background--chapter3
	background-color primaryC
.nav-chapter
	position relative
	top -(gutter*1.5)
	a
		text-decoration none
		color white
		&:hover
			color rgba(white,.8)
	.home
		font-size 20px
		letter-spacing 1px
		line-height 20px
		&:before
			content '\eddf'
			font-family icomoon
			margin-right gutter
			position relative
			top 2px



/**
 * ^chapter-main
 */
.chapter-main__outer
	padding-top 60px
	padding-bottom 40px
.chapter__intro
	padding-bottom (gutter*2)



/**
 * ^chapter-nav
 */
.chapter__nav
	display block
	border-left 5px solid
	padding-left 20px
	margin-bottom (gutter*1)
	border-radius 3px
	&.chapter__nav--1
		border-left 5px solid rgba(primaryA,.5)
	&.chapter__nav--2
		border-left 5px solid rgba(primaryB,.5)
	&.chapter__nav--3
		border-left 5px solid rgba(primaryC,.5)
	.caption__nav
		font-size 15px
		font-weight 400
		line-height 24px
		padding-bottom 12px
		color caption-text
		margin-top 0
		margin-bottom 0
	.chapter__nav--list
		padding-left 0
		margin-top 0
		list-style none
		a
			text-decoration none
			line-height 40px
			


/**
 * ^article
 */
.article__moduleA
	margin-bottom (gutter*3)
.article-list
	padding-top 40px
.article__post
	border-bottom 1px solid divider
	padding-bottom (gutter*4)
	&:last-child
		border-bottom none
		padding-bottom 0
.article__title
	padding-top 30px
.body-module
	max-width 560px
	&:last-child
		margin-bottom 40px
.body-text__module
	margin-bottom (gutter*2)



/**
 * ^article ^note
 */
.note
	border-left 5px solid
	border-radius 3px
	padding-top gutter
	padding-bottom gutter
	margin-bottom 30px
.note-chapter1
	border-color rgba(primaryA,.5)
	background-color rgba(primaryA,.1)
.note__body
	padding-left (gutter*1.5)
	padding-right (gutter*2)
.note__list
	padding-left (gutter*2.5)
	padding-right (gutter*2)
	text-align left
.note__list--second
	padding-top (gutter/2)
	padding-left gutter
.note__list--third
	padding-top (gutter/2)
	padding-left gutter
.body-text__note
	margin-bottom 0
.note__img
	padding gutter
	padding-top (gutter*1)
	padding-bottom (gutter*1)



/**
 * ^article ^table
 */
.module__figure--table
	text-align left
.table__header
	background-color #fbfbfb
	padding-top (gutter*2.5) 
	padding-bottom (gutter/2) 
	padding-right (gutter) 
	padding-left (gutter) 
	border-radius 5px 5px 0 0 
	border-top 1px solid divider
	border-left 1px solid divider
	border-right 1px solid divider
	border-bottom 1px solid divider
.table__header--title
	font-size 24px
	font-weight 300
	color secundary-text
.table__list
	list-style none
	background-color white
	padding-top (gutter/2) 
	// padding-bottom (gutter/2) 
	border-radius 0 0 5px 5px
	border-bottom 1px solid divider
	border-left 1px solid divider
	border-right 1px solid divider
.table__item
	padding-right (gutter*2) 
	padding-left (gutter*2) 
	&:nth-child(even)
		padding-top (gutter/3) 
		padding-bottom (gutter/3)
		background-color rgba(black,.03)
		&:last-child
			padding-bottom gutter
	&:nth-child(odd)
		padding-top (gutter/2) 
		padding-bottom (gutter/2) 
		&:last-child
			padding-bottom gutter
	a
		text-decoration none
		color secundary-text
		line-height 30px
		&:before
			content '\eec6'
			font-family icomoon
			margin-right (gutter/2)
			color secundary-text
	p
		color secundary-text
		line-height 30px
		


/**
 * ^article ^figure
 */
.module__figure
	text-align center
	margin-bottom 30px
.figure__small
	display inline-block
	margin-top 0
	margin-right 0
	margin-left 0
	margin-bottom 40px
	max-width 300px	
	img
		max-width 260px
.caption-text
	text-align left
.caption__list
	margin-top (gutter/2)


