/*------------------------------------*\
    bp1__home
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display
	font-size 24px
	line-height 1.5em
	font-weight 400
	margin-top 0
	margin-bottom 0
.subdisplay
	font-size 15px
	line-height 1.5em
	font-weight 400
.headline
	font-size 24px
	line-height 32px
	font-weight 400
	margin-bottom 42px
.subhead2
	font-size 16px
	line-height 24px
	font-weight 400
	margin-top 20px
.title
	font-size 20px
	line-height 28px
	font-weight 400
.title2
	font-size 20px
	line-height 40px
	font-weight 400
.subtitle
	font-size 14px
	line-height 24px
	margin-bottom 20px
.subtitle2
	font-size 14px
	line-height 24px
	margin-bottom 20px
	font-weight bolder
.body
	font-size 14px
	line-height 24px
	font-weight 400
	margin-bottom 20px

.caption
	font-size 15px
	line-height 24px
	font-weight 400





/*------------------------------------*\
    $GRID 
\*------------------------------------*/
.main
	.home-intro
		display block
		width 100%
		.intro-title
			display table-caption




/*------------------------------------*\
    $UTILIDADES 
\*------------------------------------*/
.u-center
	margin-right gutter
	margin-left gutter
.u-bottom__border
	border-bottom 1px solid divider
	padding-bottom 40px




/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
body
	background-color body-color
/**
 * ^header
 */
.header
	position relative
.header__background
	background: url(../../img/hero.jpg)
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top (gutter*3)
	padding-bottom (gutter*3)
	position relative
.header__degrade
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	z-index 0
	background linear-gradient(top,  rgba(250,250,250,0.8) 0%, rgba(250,250,250,0.8) 30%, rgba(250,250,250,1) 100%);
.home-header__title
	position relative
	z-index 5
	color rgba(#000000,.54)
	span 
		color primaryC
.home-header__subtitle
	position relative
	z-index 5
	font-size 15px
	line-height 1.5em
	font-weight 400
	

		

/**
 * ^main
 */
.main__outer
	padding-top (gutter*2)
	padding-bottom (gutter*5)
.module
	margin-bottom 40px	
	&:last-child
		margin-bottom 0	
.content-table-title
	margin-bottom 20px
	vertical-align top
.intro-title
	p
		font-size 20px
		line-height 28px
		font-weight 400


/**
 * ^main iconography
 */
.iconography
	font-size 14px
	line-height 24px
	font-weight 400
	margin-top 0px
	margin-right gutter
	margin-bottom gutter
	display inline-block
.iconography__title
	padding-bottom 20px
.action
	background-color actionToTake
	color actionToTake__dark
	padding .7rem 2rem .7rem 1.2rem
	border-radius 5px
	&:before
		content '\e604'
		font-family icomoon
		vertical-align top
		margin-right (gutter/2)
.important
	background-color important
	color important__dark
	padding .7rem 2rem .7rem 1.2rem
	border-radius 5px
	&:before
		content '\f02e'
		font-family icomoon
		vertical-align top
		margin-right (gutter/2)


/**
 * ^main ^social
 */
.social__outer
	// padding-top (gutter*2)
	padding-right (gutter/2)
.name
	margin-bottom gutter
	span
		color primaryC
.avatar
	width 60px
	float left
	img 
		border-radius 50%
.about
	display table-cell
	padding-left (gutter*2)
	a
		text-decoration none
		line-height 24px
		display table-row
		font-weight 300
	p
		margin-bottom gutter
		font-weight 300
	.phone
		&:before
			content '\e600'
			font-family icomoon
			// color #4caf50
			margin-right (gutter/2)
	.mail
		&:before
			content '\ea34'
			font-family icomoon
			// color #03a9f4
			margin-right (gutter/2)
			vertical-align middle
			font-size 1em

/**
 * ^main ^content-table
 */
.module-table
	margin-bottom 30px
.module-table__header
	padding gutter
	border-radius 5px 5px 0 0
	.module-table__title
		color white
		// text-shadow 0 1px 5px rgba(black,.3)
		font-size 20px
		text-transform uppercase
		font-weight 500
		letter-spacing 1px
		position relative
		margin-left (gutter*3)
.analize
	background-color #442b06
	width 35px
	height 35px
	border-radius 50%
	position absolute
	left -(gutter*3)
	top -5px
	&:before
		content '\e601'
		font-family icomoon
		position relative
		left 6px
		top 7px
.implement
	background-color #501517
	width 35px
	height 35px
	border-radius 50%
	position absolute
	left -(gutter*3)
	top -5px
	&:before
		content '\e602'
		font-family icomoon
		position relative
		left 8px
		top 11px
.measure
	background-color #0d332d
	width 35px
	height 35px
	border-radius 50%
	position absolute
	left -(gutter*3)
	top -5px
	&:before
		content '\eb8f'
		font-family icomoon
		position relative
		font-size .9em
		left 6px
		top 8px
		
.table-list
	border-right 1px solid divider
	border-left 1px solid divider
	border-bottom 1px solid divider
	list-style none
	border-radius 0 0 5px 5px
	a
		text-decoration none
		color rgba(#000000,.74) 
	.table-item
		padding-top (gutter)
		padding-right (gutter)
		padding-bottom (gutter)
		padding-left gutter
		border-top 1px solid divider
		&:before
			content ''
			width 10px
			height 10px
			border-radius 50%
			background-color rgba(primaryA ,.8)
			display inline-block
			margin-right gutter
		&:hover
			background-color rgba(black,.03)
	.table-item2
		&:before
			background-color rgba(primaryB,.8)
	.table-item3
		&:before
			background-color rgba(primaryC,.8)


/**
 * ^footer-nav
 */
.footer-nav--inner
	a
		text-decoration none
.footer-nav__begin
	.footer-nav__btn--right
		padding-top (gutter*1.5)
		padding-right (gutter*1)
		padding-bottom (gutter*1.5)
		// padding-left (gutter/2)
	.next
		text-align right
		span
			color rgba(#000000,.87)
			margin-right (gutter*1.8)
		p
			color white
			font-size 18px
			line-height 1.4em
			font-weight 500
			&:after
				content '\eddb'
				font-family icomoon
				margin-left 10px
.footer-nav__middle
	position relative
	.footer-nav__middle--next
		box-sizing border-box
		padding-top (gutter*1.5)
		padding-right (gutter*3)
		padding-bottom (gutter*1.5)
		width 100%
		.next
			text-align right
			span
				color rgba(#000000,.87)
				margin-right (gutter*1.8)
			p
				color white
				font-size 18px
				line-height 1.4em
				font-weight 500
				&:after
					content '\eddb'
					font-family icomoon
					margin-left 10px
	.footer-nav__middle--previous
		width 40px
		padding-top (gutter*2.65)
		padding-left (gutter*1.5)
		padding-bottom (gutter*1.5)
		position absolute
		z-index 5
		bottom 0 
		left 0
		.previous
			text-align left
			span
				display none
			p.big
				display none	
			p.small
				color white
				font-size 18px
				line-height 1.4em
				font-weight 500
				&:before
					content '\eddf'
					font-family icomoon
					margin-right 10px
.footer-nav__end
	.footer-nav__btn--left
		padding-top (gutter*1.5)
		padding-left (gutter*3)
		padding-bottom (gutter*1.5)
	.previous
		text-align left
		span
			color rgba(#000000,.87)
			margin-left (gutter*1.8)
		p
			color white
			font-size 18px
			line-height 1.4em
			font-weight 500
			&:before
				content '\eddf'
				font-family icomoon
				margin-right 10px

















