/*------------------------------------*\
    bp2__chapter
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display1
	font-size 56px





/*------------------------------------*\
    $GRID 
\*------------------------------------*/
.figure__small
	display inline-block
.figure__big
	display block





/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/**
 * ^chapter-main
 */
.chapter__intro
	padding-right (gutter*2)
.chapter-main__outer
	padding-top 80px



	
