/*------------------------------------*\
    bp2__chapter
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display1
	font-size 56px
