/*------------------------------------*\
    bp2__home
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display
	font-size 45px
	line-height 48px
	margin-bottom (gutter/2)
.subdisplay
	font-size 15px
	line-height 1.5em
	font-weight 400
.headline
	font-size 34px
	line-height 40px
	margin-bottom 30px
.subhead2
	font-size 20px
	line-height 32px
	font-weight 400
	margin-top 20px
.title
	font-size 24px
	line-height 32px
	font-weight 400
	margin-bottom 30px
.title2
	font-size 20px
	line-height 40px
	font-weight 400
.caption
	font-size 13px
	line-height 24px
	font-weight 400
	



/*------------------------------------*\
    $GRID 
\*------------------------------------*/






/*------------------------------------*\
    $UTILIDADES 
\*------------------------------------*/
.u-center
	width 760px
	margin-right auto
	margin-left auto
.u-margin
	margin-right gutter
	margin-left gutter
.u-bottom__border
	border-bottom 1px solid divider
	padding-bottom 90px
	



/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/**
/**
 * ^header
 */
.header__background
	padding-top (gutter*8)
	padding-bottom (gutter*6)
.home-header__subtitle
	font-size 22px
	line-height 1.5em
	font-weight 400


/**
 * ^main ^iconography
 */
.subhead2
	padding-right 40px


/**
 * ^main ^iconography
 */
.iconography
	font-size 20px
	line-height 32px
	font-weight 300
	margin-top 0px
.action
	margin-top 0
.important
	margin-top (gutter*1.5)


/**
 * ^main ^content-table
 */
.contact
	display table-cell
	position relative
	top -5px
.about
	max-width 508px



/**
 * ^main ^content-table
 */
.module
	margin-bottom 30px
	&:last-child
		margin-bottom 0	
.module-table
	margin-bottom 60px
.intro-title
	p
		font-size 24px
		line-height 32px
		font-weight 400


/**
 * ^footer-nav
 */
.footer-nav__middle
	position relative
	display table
	width 100%
	.footer-nav__middle--next
		box-sizing border-box
		// padding-top (gutter*1.5)
		// padding-right (gutter*3)
		// padding-bottom (gutter*1.5)
		width 48.7%
		display table-cell
		.next
			text-align right
			span
				color rgba(#000000,.87)
				margin-right (gutter*1.3)
			p
				color white
				font-size 18px
				line-height 1.4em
				font-weight 500
				&:after
					content '\eddb'
					font-family icomoon
					margin-left 10px
	.footer-nav__middle--previous
		width 48.7%
		display table-cell
		position relative
		bottom 0px
		padding-top (gutter*1)
		.previous
			text-align left
			span
				display block
				color rgba(#000000,.87)
				margin-left (gutter*1.2)
			p.big
				display block	
				color white
				font-size 18px
				line-height 1.4em
				font-weight 500
				&:before
					content '\eddf'
					font-family icomoon
					margin-right 10px
			p.small
				display none
					

		.previous
		text-align left
		span
			color rgba(#000000,.87)
			margin-left (gutter*1.5)
		p
			color white
			font-size 18px
			line-height 1.4em
			font-weight 500
			&:before
				content '\eddf'
				font-family icomoon
				margin-right 10px




















