/*------------------------------------*\
    bp2__chapter
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display1
	font-size 56px





/*------------------------------------*\
    $GRID 
\*------------------------------------*/
.figure__small
	display inline-block
.figure__big
	display block


