/*------------------------------------*\
    bp2__home
\*------------------------------------*/




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
.display
	font-size 45px
	line-height 48px
	margin-bottom (gutter/2)
.subdisplay
	font-size 15px
	line-height 1.5em
	font-weight 400
.headline
	font-size 34px
	line-height 40px
	margin-bottom 30px
.subhead2
	font-size 20px
	line-height 32px
	font-weight 300
	margin-top 20px
.title
	font-size 24px
	line-height 32px
	font-weight 400
	margin-bottom 30px
.title2
	font-size 20px
	line-height 40px
	font-weight 400
.caption
	font-size 13px
	line-height 24px
	font-weight 400
	



/*------------------------------------*\
    $GRID 
\*------------------------------------*/






/*------------------------------------*\
    $UTILIDADES 
\*------------------------------------*/
.u-center
	width 760px
	margin-right auto
	margin-left auto
.u-margin
	margin-right gutter
	margin-left gutter
	



/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/**
/**
 * ^header
 */
.header-background
	padding-top (gutter*8)
	padding-bottom (gutter*6)
 




/**
 * ^main ^content-table
 */
.module
	margin-bottom 60px	
.module-table
	margin-bottom 60px
.intro-title
	p
		font-size 24px
		line-height 32px
		font-weight 400






















