/*------------------------------------*\
    bp3__chapter
\*------------------------------------*/




/*------------------------------------*\
    $GRID 
\*------------------------------------*/
.article__module
	display table
.module__body
	display table-cell
	vertical-align top
	width 360px
	
.module__figure
	display table-cell
	vertical-align top
	



/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/**
 * ^chapter-main
 */
.chapter__intro--body
	width 768px
	

/**
 * ^article
 */
.module__body
	display block
	margin-right 40px
.module__figure
	width 768px
.article__title
	padding-top 60px



/**
 * ^article ^figure
 */
.module__figure
	padding-top 70px