/*------------------------------------*\
    bp3__home
\*------------------------------------*/




/*------------------------------------*\
    $GRID 
\*------------------------------------*/
.main
	.home-intro
		display table
		.intro-title
			display table-cell
			width 360px
		.intro
			display table-cell
	.home-content-table
		display table
		.content-table-title
			display table-cell
			width 360px
		.content-table
			display table-cell





/*------------------------------------*\
    $UTILIDADES 
\*------------------------------------*/
.u-center
	width 1160px
	margin 0 auto




/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/**
 * ^main
 */
.content-table
	width 768px
.module
	margin-bottom 40px