/*------------------------------------*\
    bp3__chapter
\*------------------------------------*/




/*------------------------------------*\
    $GRID 
\*------------------------------------*/
.article__module
	display table
.module__body
	display table-cell
	vertical-align top
	width 360px
	
.module__figure
	display table-cell
	vertical-align top