/*------------------------------------*\
    bp3__chapter
\*------------------------------------*/

article__title


/*------------------------------------*\
    $GRID 
\*------------------------------------*/
.article__module
	display table
	.module__body
		display table-cell
		vertical-align top
.article__moduleA
	.module__body
		width 560px
.article__moduleB
	.module__body
		width 360px
		padding-right 40px
.article__moduleB1
	margin-top 60px
	.module__body
		width 360px
		padding-right 40px
.module__figure
	display table-cell
	vertical-align top
	



/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/**
 * ^chapter-main
 */
.chapter__intro--body
	width 768px
	

/**
 * ^article
 */
.article__post
	padding-top 100px
	padding-bottom 100px
.module__body
	display block
	margin-right 40px
.module__figure
	width 768px
.article__title
	padding-top 10px
.body-module
	max-width 560px
	&:last-child
		margin-bottom 0


/**
 * ^article ^figure
 */
.figure__small
	margin-bottom 0