



/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/* small */
@import "bp1__home.styl"

/* medium */
@media only screen and (min-width: 760px)
	@import "bp2__home.styl"
	
/* big */
@media only screen and (min-width: 1240px)
	@import "bp3__home.styl"