/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import "reset"
@import "nib"
@import "normalize"
@import "icomoon"
@import "video-responsive"




/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
test1()
	background-color red
test2()
	background-color green
test3()
	background-color blue
test4()
	background-color orange
test5()
	background-color pink
	
.test1
	padding 50px
	test1()
.test2
	padding 50px
	test2()
.test3
	padding 50px
	test3()
.test4
	padding 50px
	test4()
.test5
	padding 50px
	test5()
	
flex()
	display -webkit-box      /* OLD - iOS 6-, Safari 3.1-6 */
	display -moz-box        /* OLD - Firefox 19- (buggy but mostly works) */
	display -ms-flexbox     /* TWEENER - IE 10 */
	display -webkit-flex    /* NEW - Chrome */
	display flex 
	
justify(parametro)
	-webkit-justify-content parametro
	justify-content parametro





/*------------------------------------*\
    $COLORES
\*------------------------------------*/
primaryA = #8BC34A
primaryB = #F44336
primaryC = #009688

secundaryA = #689F38
secundaryB = #D50000
secundaryC = #00796B

.primary-text 
	color #212121
primary-text = #212121

.icons 
	color #727272
icons =  #727272

.caption-text 
	color #9a9a9a
caption-text = #9a9a9a

.divider 
	color #dadada
divider = #dadada
	



/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
@import "home"
@import "chapter"

