/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import "reset"
@import "normalize"
@import "icomoon"
@import "video-responsive"




/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
test1()
	background-color red
test2()
	background-color green
test3()
	background-color blue
test4()
	background-color orange
test5()
	background-color pink





/*------------------------------------*\
    $COLORES
\*------------------------------------*/
primaryA = #8BC34A
primaryB = #F44336
primaryC = #009688

secundaryA = #689F38
secundaryB = #D50000
secundaryC = #00796B

.primary-text 
	color #212121
primary-text = #212121

.icons 
	color #727272
icons =  #727272

.caption-text 
	color #9a9a9a
caption-text = #9a9a9a

.divider 
	color #dadada
divider = #dadada
	



/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
@import "home"
@import "chapter"

